.container{
	/* 占住上下位置,留出空间 */
	padding:55px 0 70px 0;
}
/* 顶部 */
.top{
	background-color: #39435b;
	padding: 10px 15px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
}
/* 顶部logo */
.top .top_logo{
	width: 120px;
	height: 35px;
}
.top .top_logo a{
	width: 100%;
	height: 35px;
}
/* 顶部搜索 */
.top .top_search{
	background-color: #e1e5ee;
	border-radius: 17px; /* 设置圆角 */
	width: calc(100% - 160px);  /* 使用css函数,计算结果. */
}
.top .top_search a{
	width: 20px;
	height: 35px;
	background-position: -130px 0; /* 精灵图位置调整 */
	margin:0 5px;
}
.top .top_search input{
	border: none;
	background-color: #e1e5ee;
	margin-top: 10px;
	width: calc(100% - 40px); /* 使用css函数,计算结果. */
}
/* 顶部用户 */
.top .top_user{
	width: 35px;
	height: 35px;
}
.top .top_user a{
	width: 100%;
	height: 35px;
	background-position: -336px 0; /* 精灵图位置调整 */
}
/* 轮播区域 */
.banner{
	width: 100%;
	overflow: hidden;
}
.banner .slide{
	flex: 1;
}
.banner .wrap{
	width: 300%;
	display: flex;
	position: relative;
	/* 设置动画:动画名称 动画时间 动画速度 无限重复  */
	animation: banner 10s ease-out infinite;
}
.banner img{
	width: 100%;
}
/* 定义动画帧 */
@keyframes banner{
	0%,30%{
		left: 0;
	}
	35%,65%{
		left: -100%;
	}
	70%,100%{
		left: -200%;
	}
}
/* 导航区域 */
.nav{
	display: flex;
	justify-content: space-around;
	padding: 10px 10%;
	background-color: #fff;
}
.nav a{
	width: 50px;
	padding-top: 60px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}
.nav a:nth-child(1){
	background-position: -24px -110px;
}
.nav a:nth-child(2){
	background-position: -116px -110px;
}
.nav a:nth-child(3){
	background-position: -206px -110px;
}
.nav a:nth-child(4){
	background-position: -298px -110px;
}
/* 书籍 */
.books{
	margin-top: 15px;
	background-color: #fff;
}
.books .title{
	line-height: 20px;
	padding: 5px 10px;
	background-color: #fff;
	font-weight: bold;
	border-bottom: 1px solid lightgray;
}
.books .title span{
	float: left;
	width: 20px;
	height: 20px;
	background-position: 3px -50px;
	vertical-align: text-bottom;
}
.books .title .more{
	color: #ff9900;
	font-size: 12px;
	font-weight: normal;
}
/* 左侧 */
.books .left{
	float: left;
	width: 53%;
	border-right: 1px lightgray solid;
}
/* 左侧上 */
.books .left .books_top{
	padding: 15px;
	border-bottom: 1px lightgray solid;
}
.books .left .books_top img{
	width: 100%;
}
/* 左侧下 */
.books .left .books_bottom{
	display: flex;
}
.books .left .books_bottom a{
	padding: 15px;
	flex: 1;
}
.books .left .books_bottom img{
	width: 100%;
}
/* 右侧 */
.books .right{
	float: left;
	padding:40px 15px 15px;
	width: 47%;
}
.books .right img{
	width: 100%;
}
/* 产品 products*/
.products{
	margin-top: 15px;
	background-color: #fff;
}
.products .title{
	line-height: 20px;
	padding: 5px 10px;
	background-color: #fff;
	font-weight: bold;
	border-bottom: 1px solid lightgray;
}
.products .title span{
	float: left;
	width: 20px;
	height: 20px;
	background-position: 3px -50px;
	vertical-align: text-bottom;
}
.products .title .more{
	color: #ff9900;
	font-size: 12px;
	font-weight: normal;
}
/* 左侧 */
.products .left{
	float: right;
	width: 53%;
	border-left: 1px lightgray solid;
}
/* 左侧上 */
.products .left .books_top{
	text-align: center;
	padding: 15px;
	border-bottom: 1px lightgray solid;
}
.products .left .books_top img{
	width: 50%;
}
/* 左侧下 */
.products .left .books_bottom{
	display: flex;
	text-align: center;
}
.products .left .books_bottom a{
	padding: 15px;
	flex: 1;
}
.products .left .books_bottom img{
	width: 50%;
}
/* 右侧 */
.products .right{
	float: right;
	padding:50px 15px 15px;
	width: 47%;
}
.products .right img{
	width: 100%;
}
/* 底线 line */
.line{
	color: darkgray;
	text-align: center;
	line-height: 3em;
}
/* 底部导航 */
.footer{
	display: flex;
	justify-content: space-around;
	padding: 10px 10%;
	background-color: #39435b;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 99;
}
.footer a{
	padding-top: 30px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}
.footer a:nth-child(1){
	background-position: -24px -200px;
}
.footer a:nth-child(2){
	background-position: -127px -200px;
}
.footer a:nth-child(3){
	background-position: -233px -200px;
}
.footer a:nth-child(4){
	background-position: -335px -200px;
}
.footer a:hover{ /* 鼠标滑过效果 */
	background-position-y: -260px;
	color: steelblue;
}
.footer a:first-child{ /* 第一个a标签的效果 */
	background-position-y: -260px;
	color: steelblue;
}
